<DIALOG>
	<BEAN name='menuBeanl' class='menuauswahl'>
		<CALL name='tabs' command='tabs' />
		<CALL name='textfield' command='textfield' />
		<CALL name='textfieldUpdates' command='textfieldUpdates' />
		<CALL name='maptable' command='maptable' />
		<CALL name='listen' command='listen' />
		<CALL name='seite1' command='seite1' />
	</BEAN>
	<MENUBAR>
		<MENU title='Beispiele'>
			<MENUITEM title='Eingabefelder' model='textfield' />
			<MENUITEM title='Auswahl' model='maptable' />
			<MENUITEM title='Tabulatoren' model='tabs' />
		</MENU>
		<MENU title='Abhängigkeiten'>
			<MENUITEM title='Updates' model='textfieldUpdates' />
		</MENU>
		<MENU title='Ansichten einer Liste'>
			<MENUITEM title='Als Combo, Liste, Radio, Tabelle' model='listen' />
		</MENU>
	</MENUBAR>
	<!-- <BUTTON model='listen' title='Ansichten einer Liste' /> -->
</DIALOG>