<DIALOG>
	<BEAN name='menuBeanl' class='menuauswahl'>
		<CALL name='tabs' command='tabs' />
		<CALL name='textfield' command='textfield' />
		<CALL name='textfieldUpdates' command='textfieldUpdates' />
		<CALL name='maptable' command='maptable' />
		<CALL name='listen' command='listen' />
		<CALL name='listenAuswahl' command='listenAuswahl' />
		<CALL name='seite1' command='seite1' />
	</BEAN>
	<BEAN name='menuBean2' class='spaetLaden'>
		<CALL name='fehler1' command='seiteMitFehler1' />
		<CALL name='fehler2' command='seiteMitFehler2' />
	</BEAN>
	<MENUBAR>
		<MENU title='Beispiele'>
			<MENUITEM title='Eingabefelder' model='textfield' />
			<MENUITEM title='Auswahl' model='maptable' />
			<MENUITEM title='Tabulatoren' model='tabs' />
		</MENU>
		<MENU title='Abhängigkeiten'>
			<MENUITEM title='Updates' model='textfieldUpdates' />
		</MENU>
		<MENU title='Ansichten einer Liste'>
			<MENUITEM title='Als Combo, Liste, Radio, Tabelle' model='listen' />
			<MENUITEM title='Auswahl aus einer Liste' model='listenAuswahl' />
		</MENU>
		<MENU title='Seiten mit Fehlern'>
			<MENUITEM title='Modelelement fehlt' model='fehler1' />
			<MENUITEM title='XML nicht richtig' model='fehler2' />
		</MENU>
	</MENUBAR>
	<!-- <BUTTON model='listen' title='Ansichten einer Liste' /> -->
</DIALOG>